{% extends '@fairview/templates/layout/page.html.twig' %}

{% block page_body %}
<div class="about-page" data-about-page>
  {% include '@fairview/components/about-wwa/wwa-hero.twig' %}
  {% include '@fairview/components/about-wwa/wwa-values.twig' %}
  {% include '@fairview/components/about-wwa/wwa-feature-cards.twig' %}
  {% include '@fairview/components/about-wwa/wwa-breakthroughs.twig' %}
  {% include '@fairview/components/about-wwa/wwa-impact.twig' %}
  {% include '@fairview/components/about-wwa/wwa-community.twig' %}
  {% include '@fairview/components/about-wwa/wwa-transparency.twig' %}
</div>
{% endblock %}
