{% extends '@fairview/templates/layout/page.html.twig' %}

{% block page_body %}
<div class="get-care-page" data-get-care>
  {% include '@fairview/components/get-care/gc-top-grid.twig' %}
  {% include '@fairview/components/get-care/gc-slider.twig' %}
  {% include '@fairview/components/contact-banner/contact-banner.twig' %}
</div>
{% endblock %}
