{% extends '@fairview/templates/layout/page.html.twig' %}

{% block page_body %}
<div class="resources-page" data-resources-page>
  {% include '@fairview/components/resources/res-hero.twig' %}
  {% include '@fairview/components/resources/res-cards.twig' %}
</div>
{% endblock %}
